body{
    background-color: black;
}
nav{
    border-radius: 50px;
   margin: 12px auto;
   width: 1200px;
    background-color: black;
 
 align-items: center;
 color: white;
 display: flex;
 gap: 250px;

}
.loc,.contact{
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: 80px;
    cursor: pointer;
    
    
}
nav h1{
    padding: 0px 0px 0px 30px;
}
nav h4{
    padding: 0px 0px 0px 15px;
}

nav>.cts{
     display: flex;
    gap: 8px;
    margin: 0px 0px 0px auto;
    padding: 0px 15px 0px 0px ;
}
.reg{
    background-color: #4B88E5;
    border-radius: 50px;
    border: none;
    height: 30px;
    color: white;
    padding: 0px 10px;
    cursor: pointer;

}
.Log{
    background-color: #1C314A;
    border: none;
    border-radius: 50px;
    height:30px ;
    padding: 0px 10px;
    color: #5C90CE;
    cursor: pointer;


}
.container{
    height: 100vh;
    display: flex;
}
.right{
    border-radius: 15px;
  
    width: 360px;
    padding: 25px 0px 10px 25px;
    color: white;
    margin:50px  80px 0px 160px;
   height: 74vh;
   background: #3F92EE;
background: linear-gradient(182deg, rgba(63, 146, 238, 1) 39%, rgba(186, 219, 251, 1) 71%);
    

}

.right a{
    color: white;
    font-weight: bold;
}
.icons{
    
    display: flex;
    gap: 10px;
    margin-top: 8px;
    margin-left: -3px;
}
.right p{
    margin: 2px;
}
.right h3{
    margin-bottom: 0px;
}
.name{
    display: flex;
    gap: 105px;
}
.left{
    color: white;
 padding: 50px 0px 10px 20px;
}
.boxer{
     display: flex;
    gap: 20px;
    margin-top: 10px;

    

}
.boxer>input{
    border: 1px solid grey;
    width: 250px;
    height: 30px;
    padding:4px;
    background-color: black;
    border-radius: 7px;
    color: white;
    padding-left: 4px;
}

.lower>input{
       margin-top: 10px;
    border: 1px solid grey;
  
    padding:4px;
    background-color: black;
    border-radius: 7px;
    width: 530px;

        height: 30px;
        color: white;
         padding-left: 8px;
}

.lower>textarea{
    margin-top: 10px;
    background-color: black;
    border-radius: 7px ;
    color: white;
     padding-left: 8px;
}

a{
    color: #5870A1;
    text-decoration: none;
}
.privacy{
    color:#425A7B
}
.message{
    width: 530px;
    height:40px;
    border-radius: 7px;
    background-color: #4789DE;
    color: white;
    border: none;
    cursor: pointer;
    
}
/*.container{
    height: 80vh;
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: fit-content;
    margin:20px auto;
}
    */